[submodule "pdf_to_text"]
	path = pdf_to_text
	url = https://github.com/schwamster/pdf_to_text
[submodule "ocr_service"]
	path = ocr_service
	url = https://github.com/schwamster/ocr_service
[submodule "luis_adapter_service"]
	path = luis_adapter_service
	url = https://github.com/schwamster/luis_adapter_service.git
[submodule "doc-stack-app"]
	path = doc-stack-app
	url = https://github.com/schwamster/doc-stack-app.git
